* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@font-face {
    font-family: "Merriweather";
    src: url(../fonts/MerriweatherSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Lobster";
    src: url(../fonts/Lobster-Regular.ttf);
}

a {
    text-decoration: none;
    color: #1c0c04;
    padding-right: 20px;
}

a:hover {
    color: #7a4518;
}

p {
    font-size: 2rem;
    font-family: "Merriweather";
    color: bisque;
}

h1 {
    font-size: 4.5rem;
    font-family: "Lobster";
    color: bisque;
    grid-column: 2/3;
    grid-row: 2/3;
}

h2 {
    font-size: 3rem;
    font-family: "Merriweather";
    color: bisque;
}

h3 {
    font-size: 2.5rem;
    font-family: "Merriweather";
    color: bisque;
}

h4 {
    font-size: 2rem;
    font-family: "Merriweather";
    color: bisque;
}

table {
    font-size: 2rem;
    font-family: "Merriweather";
    color: bisque;
    width: 100%;
}

th, td {
    border: solid 3px #1c0c04;
    background-color: #1c0c04;
    text-align: center;
}

form {
    font-size: 2.5rem;
    font-family: "Merriweather";
    color: bisque;
}

footer nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem 4rem;
    padding-right: 50px;
    height: 130px;
    width: 100%;
}

footer {
    background-color: bisque;
}

nav p {
    color: #1c0c04;
}

header {
    background-color: bisque;
    padding: 1rem 2rem 2rem 5rem;
    max-width: 100%;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    font-size: 4rem;
    font-family: "Lobster";
}

/*CLASES*/

.navBar {
    padding: 2.5rem 5rem 2rem 2rem;
    font-size: 4rem;
}

.logo {
    margin-left: 20px;
    width: 230px;
}

.banner {
    background-image: url(../assets/img/banner.jpg);
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
    align-items: center;
}

.sectionOsc {
    background-color: #1c0c04;
    padding: 5rem 5rem;
}

.sectionCla {
    background-color: #7a4518;
    padding: 5rem 5rem;
}

.sectionClara {
    background-color: #7a4518;
    width: 100%;
    padding: 5rem 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sectionServicios {
    background-color: #7a4518;
    width: 100%;
    padding: 5rem 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sectionOscura {
    background-color: #1c0c04;
    width: 100%;
    padding: 5rem 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.modeloClaro {
    background-color: #7a4518;
    padding: 5rem 5rem;
    text-align: center;
}

.modeloOscuro {
    background-color: #1c0c04;
    padding: 5rem 5rem;
    text-align: center;
}

.imgBarberia {
    padding: 1rem 1rem;
    margin-top: 15px;
    width: 550px;
}

.textBarberia {
    margin-top: 15px;
}

.imgEquipo {
    padding: 1rem 1rem;
    margin-top: 15px;
    width: 550px;
}

.textEquipo {
    margin-top: 50px;
}

.imgNosotros {
    width: 400px;
}

.sectionMap {
    background-color: #1c0c04;
    padding: 5rem 5rem;
}

.tituloMap {
    text-align: left;
    padding: 1rem 0rem 5rem 1rem;
}

.map {
    text-align: center;
}

.botonReservaTurno {
    width: 150px;
    height: 35px;
    font-family: "Merriweather";
    font-size: 1.5rem;
    background-color: #1c0c04;
    color: bisque;
    border-radius: 5px;
    border: #1c0c04;
    cursor: pointer;
    margin-top: 30px;
}

.botonDisponibilidad {
    width: 200px;
    height: 35px;
    font-family: "Merriweather";
    font-size: 1.5rem;
    background-color: #1c0c04;
    color: bisque;
    border-radius: 5px;
    border: #1c0c04;
    cursor: pointer;
    margin-top: 35px;
}

.botonClaro {
    width: 70px;
    height: 35px;
    font-family: "Merriweather";
    background-color: #7a4518;
    color: bisque;
    border-radius: 5px;
    border: #7a4518;
    cursor: pointer;
}

.textCentrado {
    text-align: center;
    background-color: #7a4518;
    width: 300px;
    padding: 2rem 1rem;
    margin: 4rem 0rem 4rem 6rem;
}

.textSoloCentrado {
    text-align: center;
}

.formTurnos {
    text-align: center;
    background-color: #7a4518;
    width: 450px;
    padding: 7rem 4rem;
    margin: 4rem 0rem 4rem 15rem;
}

.boxContacto {
    background-color: #1c0c04;
    padding: 5rem 5rem;
    width: auto;
}

.hContactanos {
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 25px;
}

.casilla {
    background-color: bisque;
    height: 30px;
    font-size: 1.5rem;
    font-family: "Merriweather";
    border: solid 2px #7a4518;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 25px;
}

.casillaText {
    background-color: bisque;
    font-family: "Merriweather";
    font-size: 1.5rem;
    border: solid 2px #7a4518;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.marginBoton {
    margin-left: 40px;
}

/*GRIDS*/

.containerGrid {
    display: grid;
}

.gridHeader {
    grid-area: header;
}

.gridMain {
    grid-area: main;
}

.gridFooter {
    grid-area: footer;
}

.gridContacto {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: repeat(2);
    justify-items: left;
    align-items: top;
}

.gridForm {
    grid-column: 1/2;
    grid-row: 2/3;
}

.gridTextArea {
    grid-column: 2/3;
    grid-row: 2/3;
}

/*media queries*/

@media only screen and (max-width: 420px){
    .containerGrid{
        grid-template-columns: 100%;
        grid-template-rows: 180px 1fr 130px;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }
    .imgNosotros{
        width: 100%;
    }
    .imgBarberia{
        width: 100%;
    }
    .imgEquipo{
        width: 100%;
    }
    header {
        background-color: bisque;
        padding: 1rem 2rem 2rem 5rem;
        max-width: 100%;
        height: 180px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        position: sticky;
        top: 0px;
        font-family: "Lobster";
    }
    .navBar {
        padding: 1rem 0rem 2rem 0rem;
        font-size: 1.6rem;
    }
}

@media only screen and (min-width: 421px) and (max-width: 1199px) {
    .containerGrid{
        grid-template-columns: 100%;
        grid-template-rows: 130px 1fr 130px;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }
    .imgNosotros{
        width: 100%;
    }
    .imgBarberia{
        width: 100%;
    }
    .imgEquipo{
        width: 100%;
    }
    .logo {
        margin-left: 0px;
        width: 230px;
    }
    .navBar {
        padding: 4rem 0rem 2rem 2rem;
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 1200px){
    .containerGrid{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 130px 1fr 130px;
        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
    }
}