@import "./utilities/variables";

@import "./base/reset";

@import "./base/tipografias";

@import "./base/estilos-generales";

/*header*/
@import "./layout/header";

/*Index*/
@import "./layout/main-index";

/*Nosotros*/
@import "./layout/main-nosotros";

/*Modelos*/
@import "./layout/main-modelos";

/*Turnos*/
@import "./layout/main-turnos";

/*Contacto*/
@import "./layout/main-contacto";

/*Footer*/
@import "./layout/footer";

/*Grids*/
.containerGrid {
    display: grid;
}

.gridHeader {
    grid-area: header;
}

.gridMain {
    grid-area: main;
}

.gridFooter {
    grid-area: footer;
}

/*media queries*/
@import "./base/queries";