$background-principal: #ffe4c4;

$background-1: #7a4518;

$background-2: #1c0c04;

$color-principal: #ffe4c4;

$color-1: #7a4518;

$color-2: #1c0c04;

$color-scrollbar: #ffd5a3;

$fuente-principal: "Lobster";

$fuente-secundaria: "Merriweather";