.sectionNicolas {
    background-color: #1c0c04;
    width: 100%;
    padding: 5rem 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imgNosotros {
    width: 400px;
}

.sectionEnzo {
    background-color: #7a4518;
    width: 100%;
    padding: 5rem 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imgNosotros {
    width: 400px;
}

.sectionJulian {
    background-color: #1c0c04;
    width: 100%;
    padding: 5rem 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imgNosotros {
    width: 400px;
}