.sectionNicolas {
    background-color: $background-2;
    width: 100%;
    padding: 5rem 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imgNosotros {
    width: 400px;
}

.sectionEnzo {
    background-color: $background-1;
    width: 100%;
    padding: 5rem 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imgNosotros {
    width: 400px;
}

.sectionJulian {
    background-color: $background-2;
    width: 100%;
    padding: 5rem 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imgNosotros {
    width: 400px;
}

.textNicolas {
    width: 500px;
    h3 {
        margin-bottom: 15px;
    }
}

.textEnzo {
    width: 500px;
    h3 {
        margin-bottom: 15px;
    }
}

.textJulian {
    width: 500px;
    h3 {
        margin-bottom: 15px;
    }
}