.banner{
    background-image: url(../assets/img/banner.jpg);
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    h1 {
        font-size: 4rem;
        font-family: $fuente-principal;
        color: $color-principal;
        grid-column: 2/3;
        grid-row: 2/3;
    }
}

.sectionBarberia {
    background-color: $background-1;
    width: 100%;
    padding: 5rem 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .textBarberia {
        margin-top: 15px;
    }
}

.imgBarberia {
    padding: 1rem 1rem;
    margin-top: 15px;
    width: 550px;
}

.sectionEquipo {
    background-color: $background-2;
    width: 100%;
    padding: 5rem 5rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .textEquipo {
        margin-top: 50px;
    }
}

.imgEquipo {
    padding: 1rem 1rem;
    margin-top: 15px;
    width: 550px;
}

.sectionServicios {
    @extend .sectionBarberia;
    .botonReservaTurno {
        width: 150px;
        height: 35px;
        font-family: $fuente-secundaria;
        font-size: 1.5rem;
        background-color: $background-2;
        color: $color-principal;
        border-radius: 5px;
        border: $color-2;
        cursor: pointer;
        margin-top: 30px;
    }
}

.sectionMap {
    background-color: $background-2;
    padding: 5rem 5rem;
    .tituloMap {
        text-align: left;
        padding: 1rem 0rem 5rem 1rem;
    }
    .map {
        text-align: center;
    }
}