.modeloOscuro {
    background-color: $background-2;
    padding: 5rem 5rem;
    text-align: center;
    h2 {
        margin-bottom: 15px;
    }
}

.modeloClaro {
    background-color: $background-1;
    padding: 5rem 5rem;
    text-align: center;
}

.carousel-item {
    width: 800px;
    align-content: center;
}

.carouselIconPrev1 {
    background-color: $color-2;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 230px;
    margin-left: 80px;
    &:hover{
        transform: scale(1.1, 1.1);
    }
}

.carouselIconNext1 {
    background-color: $color-2;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 230px;
    margin-right: 80px;
    &:hover{
        transform: scale(1.1, 1.1);
    }
}

.carouselIconPrev2 {
    background-color: $color-1;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 230px;
    margin-left: 80px;
    &:hover{
        transform: scale(1.1, 1.1);
    }
}

.carouselIconNext2 {
    background-color: $color-1;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 230px;
    margin-right: 80px;
    &:hover{
        transform: scale(1.1, 1.1);
    }
}