.banner{
    background-image: url(../assets/img/banner.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    h1 {
        font-size: 5rem;
        font-family: $fuente-principal;
        color: $color-principal;
        grid-column: 2/3;
        grid-row: 2/3;
        width: 100px;
    }
}

.sectionBarberia {
    background-color: $background-1;
    width: 100%;
    padding: 5rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hBarberia {
    margin-left: 40px;
}

.textBarberia {
    margin-top: 2rem;
    margin-left: 40px;
}

.imgBarberia {
    padding: 1rem 1rem;
    width: 550px;
}

.sectionEquipo {
    background-color: $background-2;
    width: 100%;
    padding: 5rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hEquipo {
    margin-top: 40px;
    margin-left: 10px;
}

.textEquipo {
    margin-top: 2rem;
    margin-left: 10px;
    margin-right: 40px;
}

.imgEquipo {
    padding: 1rem 1rem;
    margin-top: 15px;
    width: 550px;
}

.hServicios {
    margin-top: 20px;
    margin-left: 10px;
}

.textServicios {
    margin-top: 2rem;
    margin-left: 10px;
    width: 500px;
}

.textServiciosRight {
    margin-top: 2rem;
    margin-right: 40px;
    width: 500px;
}

.sectionServicios {
    @extend .sectionBarberia;
    .botonReservaTurno {
        width: 150px;
        height: 35px;
        font-family: $fuente-secundaria;
        font-size: 1.5rem;
        background-color: $background-2;
        color: $color-principal;
        border-radius: 5px;
        border: $color-2;
        cursor: pointer;
        margin-top: 30px;
        margin-left: 10px;
        &:hover{
            background-color: $background-principal;
            color: $color-2;
            transform: scale(1.05, 1.05);
        }
    }
}

.sectionMap {
    background-color: $background-2;
    padding: 5rem 5rem;
    .tituloMap {
        text-align: left;
        padding: 1rem 0rem 5rem 1rem;
    }
    .map {
        text-align: center;
    }
}